.main_header {
  height: 64px;
  padding: 8px 24px;
  background-image: url("/assets/images/bg_header.png");
  background-repeat: repeat-x;

  .md-nav-bar {
    height: 57px;
  }

  .md-nav-item {
      padding: 0 2em;

    .md-button, .md-button.md-unselected {
      font-size: 16px;
      line-height: 57px;
      color: white;
      text-transform: none;

      span {
        vertical-align: bottom;
      }

      md-icon {
        color: white;
      }
    }
    .md-button.md-accent:not([disabled]) md-icon {
      color: white;
    }
  }
  .md-nav-item:last-child {
    padding-right: 0;
  }

  md-nav-ink-bar {
    color: white;
    background-color: white;
  }
}
