<div id="login" layout="column" layout-fill>

  <page-header></page-header>

  <md-content flex layout="row" layout-align="center center">

      <div flex="100" layout-align="center center">
        <h1 layout="row" layout-align="center" class="white_text">La communauté de drivers connectés</h1>
        <h2 layout="row" layout-align="center" class="h1 white_text">Pour vous simplifier la vie</h2>

        <div layout="row" layout-align="center">

          <form flex="50" name="userForm" ng-submit="loginCtrl.login()" class="userForm">

            <div class="md-headline">
              S'identifier
              <a href="">
                <md-icon> clear </md-icon>
              </a>
              </span>
            </div>

            <md-input-container md-no-float="" class="md-block">
              <input
                type="email"
                name="email"
                ng-model="credentials.email"
                placeholder="Votre email"
                required>

              <div ng-messages="userForm.email.$error"
                   ng-show="userForm.email.$invalid && userForm.email.$submitted">
                <div ng-message="required">Email requis.</div>
                <div ng-message="email">Email n'est pas valide.</div>
              </div>

            </md-input-container>

            <md-input-container md-no-float="" class="md-block">
              <input
                type="password"
                ng-model="credentials.password"
                name="password"
                placeholder="Votre mot de passe"
                required>

              <div ng-messages="userForm.password.$error"
                   ng-show="userForm.password.$invalid && userForm.password.$submitted">
                <div ng-message="required">Mot de passe requis.</div>
              </div>

              <a href="#" class="forgotPasswordLink" ng-click="loginCtrl.showResetDialog()">Mot de passe oublié ?</a>

            </md-input-container>

            <md-card-actions layout="row" layout-align="right">
              <md-button
                type="submit"
                class="md-raised md-warn animated infinite white_text"
                layout-align="right">
                Se connecter
              </md-button>
            </md-card-actions>

          </form>
        </div>

      </div>

  </md-content>

  <page-footer></page-footer>

</div>

