#login{
  color: white;

  md-content{
    background: url("/assets/images/bg_home_main.png") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

  h1, h2 {
    font-family: 'Montserrat', serif;
  }
  h1{
    font-size: 40px;
    line-height: 30px;
    font-weight: bold;
    margin: 0;
    text-transform: uppercase;
  }
  h2 {
    font-weight: normal;
    font-size: 30px;
    margin-bottom: 60px;
  }

  .userForm{
    color: #424242;
    background-color: white;
    padding: 24px;
    max-width: 450px;
  }

  .forgotPasswordLink{
    color: #424242;
    float: right;
    margin-top: 10px;
  }

  .md-button {
    padding: 0 15px;
  }

  .md-headline {
    display: flex;
    justify-content: space-between;
  }

  md-card-actions {
    justify-content: flex-end;
    margin-top: 30px;
  }

  md-input-container {
    max-width: 330px;
    margin: 10px 0;
  }
}

#reset{
  md-dialog-content,
  md-input-container{
    padding: 0;
    margin: 0;
  }

}

md-dialog-content{
  padding-top: 20px;
}

.dialog_close_button{
  position: absolute;
  top: 24px;
  right: 24px;
}


