#account{
  md-sidenav{
    max-width: 256px;
    font-size: 12px;
    md-toolbar{
      height: 146px;
      padding-left: 24px;
      background-color: #ebebeb;
      .user-avatar{
        width: 60px;
        height: 60px;
        border-radius: 50%;
      }
      .active md-icon{
        color: red;
      }
    }
  }
  md-list{
    padding-left: 24px;

  }
}


