#main{
  .content_wrapper{
    overflow: hidden;
    .page_content{
      overflow: auto;
      position: relative;
      background-color: #efefef;
    }
  }
  .sidenav_wrapper{
    width: 100px;
    md-sidenav{
      width: 100px;
      background-color: @darkGreyColor;
      md-list{
        md-item{
          width: 100px;
          height: 100px;
          * {
            color: white;
          }
        }
      }
    }
  }
  .spinner_wrapper{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 15;
    .spinner_bg{
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: white;
      opacity: 0.5;
    }
    path {
      stroke: @orangeColor;
    }
  }
}


