.main_footer {
  height: 57px;
  background-color: #424242;
  * {
    color: white;
  }
  .md-nav-bar{
    height: 56px;
    .md-nav-item {
      .md-button, .md-button.md-unselected {
        line-height: 56px;
        height: 56px;
        color: white;
        text-transform: none;
        padding: 0;
        span {
          vertical-align: bottom;
        }
      }
    }
  }

  md-nav-ink-bar {
    color: white;
    background-color: white;
  }
}
