footer {
  height: 56px;
  background-color: #424242;

  .md-nav-item {
    .md-button, .md-button.md-unselected {
      line-height: 48px;
      color: white;
      text-transform: none;

      span {
        vertical-align: bottom;
      }
    }
  }

  md-nav-ink-bar {
    color: white;
    background-color: white;
  }
}
