<div id="dashboard_page">

  <header flex>

    <h4 class="md-headline">Mon agenda</h4>

    <md-button ng-click="dashboardCtrl.today()">
      {{dashboardCtrl.currentDateString}}
    </md-button>

    <div class="control_buttons">
      <md-button ng-click="dashboardCtrl.prev()">
        <ng-md-icon icon="chevron_left"></ng-md-icon>
      </md-button>
      <span ng-if="dashboardCtrl.intervalStartMonth === dashboardCtrl.intervalEndMonth">
        Semaine du {{dashboardCtrl.intervalStartDay}} au {{dashboardCtrl.intervalEndDay}} {{dashboardCtrl.intervalStartMonth}}
      </span>
      <span ng-if="dashboardCtrl.intervalStartMonth !== dashboardCtrl.intervalEndMonth">
        Semaine du {{dashboardCtrl.intervalStartDay}} {{dashboardCtrl.intervalStartMonth}} au {{dashboardCtrl.intervalEndDay}} {{dashboardCtrl.intervalEndMonth}}
      </span>
      <md-button ng-click="dashboardCtrl.next()">
        <ng-md-icon icon="chevron_right"></ng-md-icon>
      </md-button>
    </div>
  </header>

  <md-card class="calendarWrapper">
    <div ui-calendar="dashboardCtrl.uiConfig.calendar"
         ng-model="dashboardCtrl.eventSources"
         calendar="dashboardCtrl.calendar"></div>
  </md-card>

  <div class="legendWrapper" layout="row">
    <span>légendes</span>
    <div>
      <div class="legend_color_block active_event"></div>
      <span>Incidents ou action à venir</span>
    </div>
    <div>
      <div class="legend_color_block inactive_event"></div>
      <span>Bien déroulé ou pas d'action à venir</span>
    </div>
  </div>
</div>
